<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="chat.signa.net.pingfang.logging" >
    <!--允许应用程序完全使用网络-->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".activity.LogAddActivity"
            android:label="@string/title_activity_log_add"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="chat.signa.net.pingfang.logging.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.AddProjectActivity"
            android:label="@string/title_activity_log_add"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="chat.signa.net.pingfang.logging.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_log_add"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="chat.signa.net.pingfang.logging.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.PwdActivity"
            android:label="@string/title_activity_log_add"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="chat.signa.net.pingfang.logging.activity.HomeActivity" />
        </activity>


    </application>

</manifest>
